.form {
  width: 100%;
  display: flex;
  padding: 1.4rem 1rem;
  background: var(--color-bg-dark);
}

.input {
  flex: 1 0 auto;
  font-size: 1.4rem;
  padding: 0.6rem 1rem;
  border: none;
  outline: none;
  border-radius: 8px 0 0 8px;
}

.button {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0 2rem;
  color: var(--color-white);
  background: var(--color-accent);
  border-radius: 0 8px 8px 0;
}

.button:hover {
  filter: brightness(125%);
}